*{
    color: #D5D87D;
}


body{
	background-color: #f5f5f5;
}


.navbar {
	padding: 1% 0;
	background-color: #53CBBF;
	border-radius: 6px;
	color: #555;
	box-shadow: 5px 1px 5px #888888;
}

input{
	margin-bottom: 10%;
}


#conteudo{
	padding: 2% 0;
	text-align: center;
	background-color: #53CBBF;
   width: 30%;
   height: 50%;
   border-radius: 15px;
	top: 25%;
	left: 15%;
   position: absolute;
   box-shadow: 5px 5px 5px #888888;
}

h2{ margin-bottom: 10%; }

h1{ margin-left: 1%; }

button {
    background-color: #FA7785;
    border: none;
    color: #E6E98E;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 2px 2px 2px #888888;
}

footer {
	padding: 20px 0;
	border-top: 1px solid #ddd;
}

.copyright {
	padding: 5px 0;
	background-color: #666;
	color: #fff;
	width: 100%;
	bottom: 0px;
   position: absolute;
}

.copyright p {
	margin: 0; 
}